@model IEnumerable<dynamic>

<div class="flex flex-col items-center p-4 bg-gray-200">
    <h2 class="absolute2 top-26-px text-customGreen-light text-center font-poppins font-bold text-4x1 leading-normal">Gerenciamento de Atribuição</h2>

    <table class="table-auto w-full bg-white rounded shadow">
        <thead>
            <tr class="bg-gray-300">
                <th class="mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized">Município</th>
                <th class="mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized">CNPJ</th>
                <th class="mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized">CNES</th>
                <th class="mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized">Endereço</th>
                <th class="mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized">Número do Acordo</th>
                <th class="mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized">Vagas Não Utilizadas</th>
                <th class="mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized print-hidden">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hall in Model)
            {
                <tr class="border-b hover:bg-gray-100">
                    <td class="border px-4 py-2 text-gray-700">@hall.Address?.City</td>
                    <td class="border px-4 py-2 text-gray-700">@hall.CNPJ</td>
                    <td class="border px-4 py-2 text-gray-700">@hall.CNES</td>
                    <td class="border px-4 py-2 text-gray-700">@hall.Address?.StreetName, @hall.Address?.Number - @hall.Address?.Neighborhood, @hall.Address?.Zipcode</td>
                    <td class="border px-4 py-2 text-gray-700">@hall.Agreement</td>
                    <td class="border px-4 py-2 text-gray-700">10
                    <td class="border px-4 py-2 print-hidden">
                        <button onclick="openModal('@hall.CNPJ', @hall.Agreement)" class="absolute transform -translate-y-1/2">Mudar Atribuição</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <!-- Botão de Imprimir -->
    <div class="mb-4">
        <button onclick="window.print()" class="w-full h-entrar-height-px rounded-lg-border bg-customGreen-default hover:bg-onHoverGreen-on_hover_default text-customGrey-light text-center font-poppins text-base leading-personalized">
            Imprimir
        </button>
    </div>

    <!-- Modal -->
    <div id="modal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50">
        <div class="bg-white rounded-lg shadow-lg p-6 w-1/3">
            <h3 class="text-xl font-bold mb-4 text-green-900">Mudar Atribuição</h3>
            <form asp-action="UpdateAgreement" method="post">
                <input type="hidden" id="cnpjInput" name="cnpj" />

                <!-- Campo para Novo Acordo -->
                <div class="relative mt-4 mb-3">
                    <label for="newAgreement" class="block w-full mb-2 text-customGreen-dark text-left font-poppins text-base leading-personalized">Novo Acordo:</label>
                    <input type="number"
                           id="newAgreement"
                           name="newAgreement"
                           class="input input-accent pl-3 w-full bg-white text-customGrey-default font-poppins text-base leading-4"
                           placeholder="Digite o novo acordo"
                           required />
                </div>

                <div class="flex justify-end mt-4">
                    <button type="button" onclick="closeModal()" class="w-full h-entrar-height-px rounded-lg-border bg-customGreen-default hover:bg-onHoverGreen-on_hover_default text-customGrey-light text-center font-poppins text-base leading-personalized">Fechar</button>
                    <button type="submit" class="w-full h-entrar-height-px rounded-lg-border bg-customGreen-default hover:bg-onHoverGreen-on_hover_default text-customGrey-light text-center font-poppins text-base leading-personalized">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let currentAgreement = 0;

    function openModal(cnpj, agreement) {
        console.log("Modal aberto para CNPJ:", cnpj, "Acordo:", agreement); // Para depuração
        document.getElementById("cnpjInput").value = cnpj;
        document.getElementById("newAgreement").value = agreement;
        currentAgreement = agreement;
        document.getElementById("modal").classList.remove("hidden");
    }

    function closeModal() {
        document.getElementById("modal").classList.add("hidden");
    }

    document.getElementById("newAgreement").addEventListener("input", function () {
        const newAgreement = parseInt(this.value);
        const errorText = document.getElementById("errorText");
        if (newAgreement < currentAgreement) {
            errorText.classList.remove("hidden");
        } else {
            errorText.classList.add("hidden");
        }
    });
</script>

