@model CisReg_Website.Models.ProfessionalModels.SelectProfessionalViewModel

@{
    ViewData["Title"] = "Confira os profissionais disponíveis";
}

<div class="min-h-screen bg-customGrey-light font-poppins w-full">
    <div class="bg-customGreen-default p-12 w-full text-white ">
        <h2 class="font-bold text-4xl">SELECIONAR PROFISSIONAIS</h2>
    </div>

    <form class="flex md:gap-16 p-8 lg:p-24 ">
        <div name="Container" class="flex flex-col w-[30%]">
            <div name="date" class="w-full flex flex-col gap-2">
                <div class="bg-[#059C7B] text-white rounded">
                    <input type="datetime-local" name="Date" value="@Model.QueryParams?.Date?.ToString("yyyy-MM-ddTHH:mm")"
                        class="bg-customGreen-default border-none rounded-lg p-2 hover:bg-emerald-700 w-full text-white">
                </div>
                <div class="border-2 border-[#059C7B] rounded-lg p-2">
                    <p class="text-center text-[#059C7B]">@DateTime.Now.ToString("dddd, dd 'de' MMMM 'de' yyyy")</p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="flex flex-col gap-4">
                <div class="flex">
                    <input type="radio" name="Period" value="Morning" id="Morning" class="peer hidden" checked="@(Model.QueryParams.Period == Period.Morning)">
                    <label for="Morning"
                        class="w-full border border-customGreen-default cursor-pointer text-customGreen-default py-2 px-4 rounded-lg bg-white transition-colors peer-checked:text-white peer-checked:bg-[#059C7B]  peer-checked:border-customGreen-default">
                        <i class="fa-solid fa-sun mr-4"></i>
                        Manhã
                    </label>
                </div>
                <div class="flex">
                    <input type="radio" name="Period" value="Afternoon" id="Afternoon" class="peer hidden" checked="@(Model.QueryParams.Period == Period.Afternoon)">
                    <label for="Afternoon"
                        class="w-full border border-customGreen-default cursor-pointer text-customGreen-default py-2 px-4 rounded-lg bg-white transition-colors peer-checked:text-white peer-checked:bg-customGreen-default peer-checked:border-customGreen-default">
                        <i class="fa-regular fa-sun mr-4"></i>
                        Tarde
                    </label>
                </div>
                <div class="flex">
                    <input type="radio" name="Period" value="Night" id="Night" class="peer hidden" checked="@(Model.QueryParams.Period == Period.Night)">
                    <label for="Night"
                        class="w-full border border-customGreen-default cursor-pointer text-customGreen-default py-2 px-4 rounded-lg bg-white transition-colors peer-checked:text-white peer-checked:bg-customGreen-default peer-checked:border-customGreen-default">
                        <i class="fa-solid fa-moon mr-4"></i>
                        Noite
                    </label>
                </div>
            </div>

            <div class="divider"></div>

            <div class="flex flex-wrap gap-2">
                @foreach (var specialty in Model.ProfessionalSpecialties)
                {
                    <div>
                        <input id="@specialty" type="checkbox" class="peer hidden" value="@specialty"
                            name="ProfessionalSpecialties"
                            checked="@(Model.QueryParams?.ProfessionalSpecialties?.Contains(specialty))">
                        <label for="@specialty"
                            class="border border-customGreen-default text-customGreen-default py-2 px-4 rounded-full bg-white transition-colors peer-checked:text-white peer-checked:bg-customGreen-default cursor-pointer">@specialty</label>
                    </div>
                }
            </div>
        </div>

        <div name="Container" class="flex flex-col w-[70%] gap-2">
            <div class="relative flex w-full">
                <div class="inset-y-0 start-0 flex items-center">
                    <i class="fa-solid fa-magnifying-glass absolute top-3 left-3"></i>
                </div>
                <input type="search" id="search" name="Search" value="@Model.QueryParams?.Search"
                    class="w-full p-2 pl-10 text-sm border border-gray-300 rounded-lg rounded-r-none bg-gray-50 dark:border-customGreen-default dark:text-black focus:outline-none focus:ring focus:ring-customGreen-default"
                    placeholder="Pesquisar" />
                <button type="submit"
                    class="text-white end-1.5 bottom-1.5 bg-customGreen-default hover:bg-customGreen-default focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg rounded-l-none text-sm px-4 py-1 dark:bg-customGreen-default dark:hover:bg-customGreen-defaultdark:focus:ring-blue-800">Pesquisar</button>
            </div>

            <div class="grid grid-cols-3 gap-4">
                @foreach (var professional in Model.Professionals)
                {
                    <div class="card bg-customGreen-default shadow-xl text-white">
                        <figure><img src="~/lib/images/UnP-CIS.png" alt="CisUnp" /></figure>
                        <div class="card-body">
                            <span class="text-2xl font-bold">@professional.FirstName @professional.LastName</span>
                            <div class="flex flex-wrap gap-2">
                                <div class="badge badge-outline">@professional.Academic</div>
                                <div class="badge badge-outline">@professional.Specialty</div>
                                <div class="badge badge-outline">@professional.Council</div>
                                <div class="badge badge-outline">Cadastrado</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>