@model CisReg_Website.Models.Patient

<h1>Dados do Paciente</h1>

<table class="table">
    <tr>
        <th>Campo</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td><strong>ID</strong></td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td><strong>Permissão</strong></td>
        <td>@Model.Permission</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td><strong>Senha</strong></td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td><strong>Nome</strong></td>
        <td>@Model.FirstName @Model.LastName</td>
    </tr>
    <tr>
        <td><strong>CNES</strong></td>
        <td>@Model.Cnes</td>
    </tr>
   
    <tr>
        <td><strong>Cartão SUS</strong></td>
        <td>@Model.SusCard</td>
    </tr>
    <tr>
        <td><strong>Telefone</strong></td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td><strong>Nome do Pai</strong></
