@{
    var vacancyDetails = ViewData["VacancyDetails"] as List<dynamic>;
}

<table class="min-w-full table-auto">
    <thead>
        <tr>
            <th class="px-4 py-2">Vaga</th>
            <th class="px-4 py-2">Data</th>
            <th class="px-4 py-2">Hora</th>
            <th class="px-4 py-2">Status</th>
            <th class="px-4 py-2">Nome do Paciente</th>
            <th class="px-4 py-2">Email do Paciente</th>
            <th class="px-4 py-2">Nome do Profissional</th>
            <th class="px-4 py-2">Email do Profissional</th>
            <th class="px-4 py-2">Especialidade do Profissional</th>
            <th class="px-4 py-2">Formacao academic do Profissional</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in vacancyDetails)
        {
            <tr>
                <td class="px-4 py-2">@item.VacancyId</td>
                <!-- Exibe Data -->
                <td class="px-4 py-2">@item.AvailableHour.ToString("dd/MM/yyyy")</td>
                <!-- Exibe Hora -->
                <td class="px-4 py-2">@item.AvailableHour.ToString("HH:mm")</td>
                <td class="px-4 py-2">@item.Status</td>
                <td class="px-4 py-2">@item.PatientFirstName @item.PatientLastName</td>
                <td class="px-4 py-2">@item.PatientEmail</td>
                <td class="px-4 py-2">@item.ProfessionalName</td>
                <td class="px-4 py-2">@item.ProfessionalEmail</td>
                <td class="px-4 py-2">@item.ProfessionalSpecialty</td>
                <td class="px-4 py-2">@item.ProfessionalAcademic</td>
            </tr>
        }
    </tbody>
</table>
