@{
   
    var vacancyDetails = ViewData["VacancyDetails"] as List<dynamic>;
}

<h1 class="text-center text-4xl text-customGreen-default my-12 justify-center items-center">
    Gerenciamento de Vagas

</h1>


<div class="container">
    @foreach (var vacancy in vacancyDetails)
    {
        <div class="card">
            @if (vacancy.Status == "Vazio")
            {
                <!-- Card para vaga vazia -->
                <h3 class="title">Vaga Vazia</h3>
                <p class="info">
                    <span>Status:</span> Vaga sem reserva
                </p>

                <div class="info-container">

                <p class="info">
                    <span>Para preencher, clique abaixo:</span>
                </p>
                <form asp-controller="Vacancy" asp-action="Preenchimento" method="post">
                    <input type="hidden" name="id" value="@vacancy.HallId" />
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-plus-circle"></i> Preencher Vaga
                    </button>
                </form>
                </div>

            }
            else
            {
              
                <div onclick="window.location.href='@Url.Action("Edit", "Vacancy", new { id = vacancy.VacancyId })'">
                    @if (vacancy.Status == "Awaiting_validation")

                    {
                        <div class="flex items-center justify-center w-12 h-12 bg-red-500 rounded-full">
                            <span class="  text-red  text-xl font-bold">!</span>
                        </div>
                    }

                <h3 class="title">@vacancy.ProfessionalName</h3>
                <p class="info">
                    <span>Profissão:</span> @vacancy.ProfessionalAcademic
                </p>
                <p class="info">
                    <span>Especialidade:</span> @vacancy.ProfessionalSpecialty
                </p>
                <p class="info">
                    <span>Paciente:</span> @($"{vacancy.PatientFirstName} {vacancy.PatientLastName}")
                </p>
                <p class="info">
                    <span>Data:</span> @vacancy.AvailableHour.ToString("dd/MM/yyyy")
                </p>
                <p class="info">
                    <span>Horário:</span> @vacancy.AvailableHour.ToString("HH:mm")
                </p>
                <p class="info">
                    <span>Status:</span> @vacancy.Status
                </p>
                <form asp-controller="Vacancy" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@vacancy.VacancyId" />
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-trash"></i> Delete
                    </button>
                </form>
                </div>
            }
        </div>
    }
</div>
<style>
    :root,
    [data-theme] {
        background-color: white;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }


    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        box-shadow: 0 12px 14px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        width: 100%;
        transition: transform 0.2s;
        min-height: 330px;
        cursor: pointer;
    }

        .card .info-container {
            margin-top: auto; /* Empurra para o final do card /
                text-align: center; / Centraliza o conteúdo */
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card:active {
            box-shadow: inset -1px -1px;
        }

    .title {
        font-size: 1.125rem;
        font-family: 'Poppins';
        color: #374151;
    }

    .info {
        font-size: 0.875rem;
        font-family: 'Poppins';
        color: #6b7280;
        margin-bottom: 0.5rem;
    }

        .info span {
            font-weight: bold;
            color: #374151;
        }

    .btn {
        display: inline-block;
        background-color: #57BE93;
        color: black;
        padding: 0.9rem 1rem;
        border-radius: 0.25rem;
        text-align: center;
        text-decoration: none;
        max-height: 20px;
        transition: transform 0.2s, background-color 0.2s;
    }

        .btn:hover {
            background-color: #40a57b;
            transform: scale(1.05);
        }
</style>
